### Week 4 Assessment: Methods: Lists and Strings

### Question 3
Write code to add ‘horseback riding’ to the third position (i.e., right before volleyball) in the list sports.

In [1]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']

In [2]:
sports.insert(2,'horseback riding')
sports

['cricket',
 'football',
 'horseback riding',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

### Question 4
Write code to take ‘London’ out of the list trav_dest.

In [5]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']

In [6]:
trav_dest.remove('London')
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne']

### Question 5
Write code to add ‘Guadalajara’ to the end of the list trav_dest using a list method.

In [9]:
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'Melbourne']

In [10]:
trav_dest.append('Guadalajara')
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne',
 'Guadalajara']

### Question 6
Write code to rearrange the strings in the list winners so that they are in alphabetical order from A to Z.

In [11]:
winners = ['Kazuo Ishiguro', 'Rainer Weiss', 'Youyou Tu', 'Malala Yousafzai', 'Alice Munro', 'Alvin E. Roth']

In [12]:
winners.sort()
winners

['Alice Munro',
 'Alvin E. Roth',
 'Kazuo Ishiguro',
 'Malala Yousafzai',
 'Rainer Weiss',
 'Youyou Tu']

### Question 7
Write code to switch the order of the winners list so that it is now Z to A. Assign this list to the variable z_winners.

In [23]:
winners = ['Alice Munro', 'Alvin E. Roth', 'Kazuo Ishiguro', 'Malala Yousafzai', 'Rainer Weiss', 'Youyou Tu']

In [24]:
z_winners=winners
z_winners.reverse()
z_winners

['Youyou Tu',
 'Rainer Weiss',
 'Malala Yousafzai',
 'Kazuo Ishiguro',
 'Alvin E. Roth',
 'Alice Munro']